<br>
<ul class="nav nav-tabs">
  <li>
    <form (ngSubmit)="navigationPast()" #newsprintForm="ngForm">
      <button type="submit" class="nav-link btn btn-light">Past Sprints </button>
    </form>
  </li>
  <li>
    <form (ngSubmit)="navigationNew()" #newsprintForm="ngForm">
      <button type="submit" class="nav-link btn btn-light">New Sprint </button>
    </form>
  </li>
</ul>

<br>

<div [hidden]="!pastpage">
  <app-pastsprints></app-pastsprints>
</div>

<div [hidden]="pastpage">
  <app-newsprint></app-newsprint>
</div>

<br><br>

<p style="text-align: center; font-style: italic;">Logged in as {{username}}</p>
<router-outlet></router-outlet>