<div class="modal-dialog" tabindex="-1" role="dialog" style="width:19rem">
  <div class="modal-content">

    <div class="modal-header">
      <h3 class="modal-title">Sprint finished</h3>
    </div>

    <br>

    <div class="modal-boy">
      <div class="container" style="text-align:center">
        <form [formGroup]="myForm" (ngSubmit)="submitForm()">
          <h4>{{duration}}</h4>

          <br>

          <table align='center'>
            <tr>
              <th style="text-align:left">Started:</th>
              <th width='20%'></th>
              <th style="text-align:right">{{started}}</th>
            </tr>
            <tr>
              <th style="text-align:left">Completed:</th>
              <th></th>
              <th style="text-align:right">{{finished}}</th>
            </tr>
          </table>

          <br>

          <button class="btn btn-success" [disabled]="!myForm.valid">
            OK
          </button>

          <br>

        </form>
      </div>
    </div>

  </div>
</div>