<div style="text-align:center">
  <h2>Progress</h2>

  <br>

  <circle-progress #circleProgress [percent]="options.percent" [radius]=150 [subtitleFormat]="options.subtitleFormat" [space]="options.space"
    [outerStrokeWidth]=20 [innerStrokeWidth]=0 [animationDuration]="options.animationDuration" [outerStrokeColor]="options.outerStrokeColor"
    [innerStrokeColor]="options.innerStrokeColor" [backgroundColor]="options.backgroundColor" [backgroundOpacity]="options.backgroundOpacity"
    [class]="'center-block cursor-pointer'" [animation]="options.animation" [animateTitle]="options.animateTitle" [unitsFontSize]=40
    [unitsColor]="options.unitsColor" [titleColor]="options.titleColor" [titleFontSize]=40 [subtitleColor]="options.subtitleColor"
    [subtitleFontSize]="options.subtitleFontSize" [showTitle]="options.showTitle" [showSubtitle]=false [showUnits]="options.showUnits"
    [titleFontSize]="options.titleFontSize" [subtitleFontSize]="options.subtitleFontSize" [outerStrokeLinecap]="options.outerStrokeLinecap"
    [showBackground]=false [showInnerStroke]=false [maxPercent]=100 [toFixed]=1 [clockwise]="options.clockwise" [responsive]="options.responsive"
    [startFromZero]=false>
  </circle-progress>

  <br>

  <h3>Focus fully on your task</h3>

  <br>

  <div class="form-group">
    <div>
      <form (ngSubmit)="holdSprint()" #holdSprintForm="ngForm">
        <button type="submit" class="btn btn-outline-danger" data-toggle="modal" data-target="#onhold">Stop</button>
      </form>
    </div>
  </div>


  <div class="modal fade" id="onhold" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="exampleModalLongTitle">On hold. Cancel sprint?</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-footer">
          <form (ngSubmit)="stopSprint()" #stopSprintForm="ngForm" onclick="$('.modal').modal('hide')">
            <button type="submit" class="btn btn-danger">YES</button>
          </form>
          <form (ngSubmit)="resumeSprint()" #resumeSprintForm="ngForm" onclick="$('.modal').modal('hide')">
            <button type="submit" class="btn btn-primary" data-dismiss="modal">NO</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>