<table class="table" style="width: 95%; box-sizing: border-box; margin: auto; right: 2%;  left: 2%;">
  <thead>
    <tr>
      <th scope="col" width='10%'>
        <form (ngSubmit)="sortByDuration()" #sortDurationForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Length</button>
        </form>
      </th>
      <th scope="col" width='8%'>
        <form (ngSubmit)="sortByStatus()" #sortStatusForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Status</button>
        </form>
      </th>
      <th scope="col" width='8%'>
        <form (ngSubmit)="sortByCreation()" #sortCreationForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Date</button>
        </form>
      </th>
      <th scope="col" width='8%'>
        <form (ngSubmit)="sortByStart()" #sortStartForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Start</button>
        </form>
      </th>
      <th scope="col" width='8%'>
        <form (ngSubmit)="sortByFinish()" #sortFinishForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Finish</button>
        </form>
      </th>
      <th scope="col" width='60%'>
        <form (ngSubmit)="sortByDescription()" #sortDescriptionForm="ngForm">
          <button type="submit" class="btn btn-light" style="width:100%; text-align: left">Description</button>
        </form>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sprint of sprints">
      <td>{{sprint.duration}}</td>
      <td>{{sprint.status}} {{sprint.progress}}%</td>
      <td>{{sprint.createdAt}}</td>
      <td>{{sprint.startedAt}}</td>
      <td>{{sprint.finishedAt}}</td>
      <td>{{sprint.description}}</td>
    </tr>
</table>

<br><br>

<div class="form-group" style="text-align: center">
  <div>
    <button type="submit" class="btn btn-outline-danger" data-toggle="modal" data-target="#areyousure">Delete all data</button>
  </div>
</div>

<div class="modal fade" id="areyousure" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">Deletion is irreversible. Are you sure?</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>The only information concerning your user that we store are your past sprints. We do not store information about
          your user itself.</p>
        <p>Delete to eliminate all records.</p>
      </div>
      <div class="modal-footer">
        <form (ngSubmit)="deleteUserSprints()" #deletesprintForm="ngForm" onclick="$('.modal').modal('hide')">
          <button type="submit" class="btn btn-danger">YES</button>
        </form>
        <button type="button" class="btn btn-primary" data-dismiss="modal">NO</button>

      </div>
    </div>
  </div>
</div>