<div [hidden]="submitted">
  <div class="card" style="width: 18rem; box-sizing: border-box; margin: auto; right: 0;  left: 0;">
    <div class="card-body">
      <h5 class="card-title" style="text-align:center">Start a sprint</h5>
      <div class="card-text">
        <form (ngSubmit)="saveSprint(newsprintForm)" #newsprintForm="ngForm">

          <div class="form-group">
            <label for="sprintLength">Choose length</label>
            <select class="form-control " id="duration" required [(ngModel)]="model.duration" name="duration" #duration="ngModel">
              <option *ngFor="let durati of durations" [value]="durati">{{durati}}</option>
            </select>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea rows="4" class="form-control " placeholder="What will you be doing?" id="description" required [(ngModel)]="model.description"
              name="description" #description="ngModel"></textarea>
          </div>

          <div class="form-group" style=text-align:center;>
            <div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="notification" [(ngModel)]="model.notification" name="notification">
                <label class="form-check-label" for="notification">
                  Notify when completed
                </label>
              </div>
            </div>
          </div>

          <div class="form-group" style=text-align:center;>
            <div>
              <button type="submit" class="btn btn-success" [disabled]="!newsprintForm.form.valid">Start</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!submitted">
  <app-inprogresssprint></app-inprogresssprint>
</div>